header {
    font-size: 25px;
    background-color: #ddd;
    border-radius: 7px;
    padding: 10px;
    text-align:center;
}
header > a {
    padding: 5px;
    margin: 0 10px;
    text-decoration: none;
}
header > a:hover {
    color: orange;
}
header > #welcome {
    float: right;
}